@model IEnumerable<CategoryPost>
@{
    List<Post> lastestPostOfCat = ViewBag.LatestPostOfCat;
    List<Post> recentPosts = ViewBag.RecentPosts;
}
@section Styles {
    <style>
        .text-limit {
            line-height: 2rem;
            max-height: 4rem;
            overflow: hidden;
            flex: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-align: left;
        }

        .title-limit {
            max-width: 320px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .text-hover:hover {
            color: darkred !important;
        }

    </style>
}

<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>@_localization.Getkey("Home")</h2>
            <ol>
                <li><a href="~/Home">@_localization.Getkey("Home")</a></li>
                <li><a href="~/Forum">@_localization.Getkey("Forum")</a></li>
            </ol>
        </div>
    </div>
</section>

<section class="blog">
    <div class="container-fluid" data-aos="fade-up">
        <!-- Thêm thanh tìm kiếm -->
        <div class="row mb-3">
            <div class="col-md-9">
                <form class="input-group" action="~/Search/Index" method="get">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searchValue">
                    <button class="btn btn-outline-primary" type="submit">@_localization.Getkey("Search")</button>
                </form>
            </div>
            <div class="col-md-3 text-md-end mt-3 mt-md-0">
                <!-- Nút đăng tin -->
                <a href="/Post/Create" class="btn btn-warning">
                    <i class="fa-regular fa-pen-to-square"></i>
                    @_localization.Getkey("NewPost")
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-9 entries">
                <div class="card shadow">
                    <div class="card-header fw-bold">
                        @_localization.Getkey("AgriculturalForum")
                    </div>
                    @foreach (var item in Model)
                    {

                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-md-3">
                                    <div class="row align-items-center">
                                        <div class="col-md-4">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <img class="img-fluid rounded" src="~/images/sach.png" alt="Image" style="height: 80px;">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="~/Post/Index/@item.Id" class="text-body text-hover">
                                                <ul class="list-unstyled">
                                                    <li> <h5>@item.Title</h5></li>
                                                </ul>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="list-unstyled text-center">
                                                <li>Bài viết</li>
                                                <li class="">@item.Posts.Count()</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list-unstyled text-center">
                                                <li>Phản hồi</li>
                                                <li>
                                                    @item.Posts.Sum(p => p.PostReplies.Count())
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @foreach (var post in lastestPostOfCat)
                                    {
                                        if (post.CategoryPostId == item.Id)
                                        {
                                            <div class="row align-items-center">
                                                <div class="col-md-3">
                                                    <a href="/Post/Detail/@post.Id">
                                                        <img class="img-fluid rounded" src="~/uploads/postImages/@post.Image" alt="Image" style="height: 80px;">
                                                    </a>
                                                </div>
                                                <div class="col-md-9">
                                                        <h6 class="title-limit">
                                                            <a href="/Post/Detail/@post.Id" class="text-dark text-hover ">@post.Title</a>
                                                        </h6>
                                                    @*  <hr /> *@
                                                    <div class="d-flex justify-content-between">
                                                        <span class="text-secondary">@post.CreateDate</span>
                                                        <a href="~/User/Index/@post?.User?.Id">
                                                            <span class="text-secondary text-hover">@post?.User?.FullName</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    }
                                </div>
                            </div>

                        </div>

                        <div class="border-bottom"></div>
                    }
                </div>
            </div><!-- End col-lg-9 -->

            <div class="col-lg-3 ">
                <div class="sidebar" style="margin: 0 !important; padding:10px !important;">
                    <h3 class="sidebar-title">@_localization.Getkey("RecentPosts")</h3>
                    <div class="sidebar-item recent-posts">
                        @foreach (var item in recentPosts)
                        {
                            <div class="post-item clearfix">
                                <a href="/Post/Detail/@item.Id">
                                    <img src="~/uploads/postImages/@item.Image" alt="image" style="height: 80px;">
                                </a>
                                <h4 class="text-limit"><a href="~/Post/Detail/@item.Id">@item.Title</a></h4>
                                <time datetime="2020-01-01">@item.CreateDate</time>
                            </div>
                        }
                    </div><!-- End sidebar recent posts-->

                    <h3 class="sidebar-title">Forum statistics</h3>
                    <div class="sidebar-item row">
                        <div class="col-6">
                            <p class="text-secondary">@_localization.Getkey("Posts"):</p>
                            <p class="text-secondary">@_localization.Getkey("Replies"):</p>
                            <p class="text-secondary">@_localization.Getkey("Members"):</p>
                            <p class="text-secondary">@_localization.Getkey("LatestMember"):</p>
                        </div>
                        <div class="col-6">
                            <p>@ViewBag.TotalPosts</p>
                            <p>@ViewBag.TotalPostReplies</p>
                            <p>@ViewBag.TotalMembers</p>
                            @if (ViewBag.LatestMember != null)
                            {
                                <p><a href="~/User/Index/@ViewBag.LatestMember.Id">@ViewBag.LatestMember.FullName</a></p>
                            }
                        </div>
                    </div>
                </div><!-- End sidebar -->
            </div><!-- End col-lg-3 -->
        </div><!-- End row -->
    </div>
</section><!-- End container blog -->
