@model AgriculturalForum.Web.Models.Product
@{
    ViewBag.Title = _localization.Getkey("ProductDetail");
    List<Product> similarProducts = ViewBag.similarProducts;
}
@section Styles {
    <style>
        .text-limit {
            max-width: 190px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .product-item {
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            border: 1px solid transparent;
            transition: box-shadow 0.1s ease;
        }

        .product-item:hover {
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
            transform: translateY(-1px);
            border-color: #28a745;
        }


        .product-column {
            background-color: #fff;
            padding: 0 5px;
            margin: 5px 0;
        }

    </style>
}
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>@ViewBag.Title</h2>
            <ol>
                <li><a href="~/Home">@_localization.Getkey("Home")</a></li>
                <li><a href="~/Shop">@_localization.Getkey("Shop")</a></li>
                <li>@ViewBag.Title</li>
            </ol>
        </div>
    </div>
</section>

<section id="portfolio-details" class="portfolio-details ">
    <div class="container">
        <div class="row gy-4">
            <!-- Hình ảnh và thông tin sản phẩm -->
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <a href="~/uploads/productImages/@Model.Image" class="portfolio-lightbox swiper-slide text-center">
                            <img src="~/uploads/productImages/@Model.Image" alt="" style="width: 80% !important;">
                        </a>
                        @foreach (var item in Model.ProductImages)
                        {
                            <a href="~/uploads/productImages/@item.Image" class="portfolio-lightbox swiper-slide text-center">
                                <img src="~/uploads/productImages/@item.Image" alt="" style="width: 90% !important;">
                            </a>
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="portfolio-info mt-4">
                    <h3>@_localization.Getkey("ProductInformation")</h3>
                    <ul>
                        <li><strong>@_localization.Getkey("ProductName"): </strong>@Model.Name</li>
                        <li><strong>@_localization.Getkey("CreateDate"): </strong>@Model.CreateDate</li>
                        <li><strong>@_localization.Getkey("CategoryProduct"): </strong>@Model.CategoryProduct.Name</li>
                        <li><strong>@_localization.Getkey("Price"): </strong>@Model.Price đ</li>
                        <li><strong>@_localization.Getkey("Description"): </strong>@Model.Description</li>
                    </ul>
                </div>
            </div>

            <!-- Thông tin người bán -->
            <div class="col-lg-4">
                <div class="portfolio-info d-flex flex-column justify-content-center" style="padding: 10px !important;">
                    <div class="d-flex align-items-center flex-wrap">
                        <img src="~/uploads/userImages/@Model.User.ProfileImage" alt="Seller Avatar" class="img-fluid rounded-circle me-3" style="width: 80px; height: 80px;">
                        <h5 class="mb-0">@Model.User.FullName</h5>
                        <a href="~/Shop/MyPost/@Model.User.Id" class="btn btn-sm btn-secondary ms-auto mt-2 mt-lg-0">@_localization.Getkey("ViewPage")</a>
                    </div>
                    <a class="btn btn-sm btn-success my-4" href="tel:+00151515">
                        <i class="fa-solid fa-mobile"></i> @_localization.Getkey("Contact"): @Model.User.Phone
                    </a>
                    <p class="mb-3">
                        <i class="fa-solid fa-location-dot"></i>
                        <strong>@_localization.Getkey("Address"): </strong> @Model.User.Address, @Model.User.Province
                      @*   <a href="https://www.google.com/maps/search/?api=1&query=@Model.User.Address" target="_blank">@Model.User.Address</a> *@
                    </p>
                </div>
            </div>

        </div>
        <!-- /Thông tin người bán -->
    </div>
</section>
@if (similarProducts != null && similarProducts.Count() > 0)
{
    <div class=" container shadow mb-4">
        <div id="product-list"  style="padding: 10px !important;">

            <h4 class="my-2">@_localization.Getkey("RelatedProducts")</h4>
            <div class="row " data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
                @foreach (var item in similarProducts)
                {
                    <div class="col-md-6 col-lg-3 product-column">
                        <a href="~/Shop/Detail/@item.Id">
                            <div class="card product-item">
                                <img class="card-img-top img-fluid " src="~/uploads/productImages/@item.Image" alt="#" style="height:200px ">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <div class="card-text text-limit">@item.Description</div>
                                    <div style="color:red; font-size: 18px;">@item.Price.Value.ToString("#,##0") đ</div>
                                </div>
                                <div class="card-footer">@item.User?.Province</div>
                            </div>
                        </a>
                    </div>
                }
            </div>

        </div>
    </div>
}


