@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<AgriculturalForum.Web.Models.Product>
@{
    ViewBag.Title = _localization.Getkey("Shop");
    List<CategoryProduct> ListOfCategories = ViewBag.ListOfCategories;
}
@section Styles {
    <style>

        .text-limit {
            max-width: 260px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .product-item {
            background-color: #fff;
            border-radius: .125rem;
            box-shadow: 0 .0625rem .125rem 0 rgba(0, 0, 0, .1);
        }

            .product-item:hover {
                transform: translateY(-1px);
                border-color: #86b7fe;
            }


        .product-column {
            background-color: #fff;
            padding: 0 5px;
            margin: 5px 0;
        }


        .category-list {
            border-radius: 2px;
        }

        .category-icon {
            font-size: 16px;
            margin-right: 4px;
        }

        .list-group-item:hover {
            background-color: #196389;
            color: #fff;
        }

        .list-group-item.active {
            background-color: #196389;
            color: #fff;
            border-color: transparent;
        }

    </style>
}
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>@ViewBag.Title</h2>
            <ol>
                <li><a href="~/Shop">@ViewBag.Title</a></li>
                @if (ViewBag.CurrentCateID != 0)
                {
                    <li><a href="~/Shop/Index/@ViewBag.CurrentCateID">@ViewBag.CateName</a></li>
                }
                <li>@_localization.Getkey("Page") @ViewBag.CurrentPage</li>
            </ol>
        </div>

    </div>
</section>

<div class="container-fluid px-4 mt-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2">
            <div class="category-list list-group">
                <a href="~/Shop" class="list-group-item @(ViewBag.CurrentCateID == 0 ? "active" : "") list-group-item-action">
                    <i class="bi bi-grid-fill"></i> Tất cả
                </a>
                @foreach (var item in ListOfCategories)
                {
                    <a href="~/Shop/Index/@item.Id" class="list-group-item @(ViewBag.CurrentCateID == item.Id ? "active" : "") list-group-item-action d-flex">
                        <span class="text-limit">@item.Name</span>
                    </a>
                }
            </div>

        </div>

        <!-- Main Content -->
        <div class="col-md-10">
            <div class="row align-items-center mb-3">
                <div class="col-md-9 my-3 my-md-0">
                    <form id="formSearch" action="~/Shop/Index" method="get" class="input-group">
                        <input name="searchValue" type="text" class="form-control" placeholder="@_localization.Getkey("SearchProduct")">
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>

                    </form>
                </div>
                <div class="col-md-3 text-md-end">
                    <a href="~/Shop/Create" class="btn btn-warning">
                        <i class="fa fa-plus"></i> @_localization.Getkey("NewProduct")
                    </a>
                </div>
            </div>

            <div class="row">
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var product in Model)
                    {
                        <div class="col-md-4 col-lg-3 product-column col-6">
                            <a href="~/Shop/Detail/@product.Id">
                                <div class="card product-item">
                                    <img class="img-fluid " src="~/uploads/productImages/@product.Image" alt="#" style="height:180px ">
                                    <div class="card-body">
                                        <h5 class="card-title text-limit">@product.Name</h5>
                                        <div class="card-text text-limit">@product.Description</div>
                                        <div style="color:red; font-size: 18px;">@product.Price.Value.ToString("#,##0") đ</div>
                                    </div>
                                    <div class="card-footer text-limit">@product.User?.Province</div>
                                </div>
                            </a>
                        </div>
                    }
                    <div class="pagination-area mt-3">
                        <ul class="pagination justify-content-center">
                            <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" asp-controller="Shop" asp-route-searchValue="@ViewBag.SearchValue" asp-action="Index" />
                        </ul>
                    </div>
                }
                else
                {
                    <div class="col-md-12 text-center my-5">
                        <img alt="" src="~/images/noresult.png" style="width: 8.375rem;">
                        <div class="my-2">@_localization.Getkey("NoResults")</div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>


