@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<AgriculturalForum.Web.Models.Product>
@{
    ViewBag.Title = _localization.Getkey("Shop");
    List<CategoryProduct> ListOfCategories = ViewBag.ListOfCategories;
}
@section Styles {
    <style>
        .text-limit {
            max-width: 260px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .product-item {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            border: 1px solid transparent;
            transition: box-shadow 0.1s ease, border-color 0.3s ease;
        }

        .product-item:hover {
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
            transform: translateY(-1px);
            border-color: #28a745;
        }


        .product-column {
            background-color: #fff;
            padding: 0 5px;
            margin: 5px 0;
        }


        .category-list {
            background-color: #fdf5f5;
            border-radius: 8px;
            padding: 8px;
        }

        .list-group-item {
            font-size: 16px;
            border: none;
            border-radius: 8px;
            transition: all 0.3s ease;
            margin-bottom: 5px;
            margin-top: 5px;
        }

            .list-group-item:hover {
                background-color: #e9ecef;
                transform: translateY(-3px);
            }

        .category-icon {
            font-size: 16px;
            margin-right: 4px;
        }

        .category-name {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 160px;
        }

    </style>
}
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>@ViewBag.Title</h2>
            <ol>
                <li><a href="~/Shop">@ViewBag.Title</a></li>
                @if (ViewBag.CurrentCateID != 0)
                {
                    <li><a href="~/Shop/Index/@ViewBag.CurrentCateID">@ViewBag.CateName</a></li>
                }
                <li>@_localization.Getkey("Page") @ViewBag.CurrentPage</li>
            </ol>
        </div>

    </div>
</section>

<div class="container-fluid mt-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2">
            <div class="category-list">
                <div class="list-group">
                    @foreach (var item in ListOfCategories)
                    {
                        <a href="~/Shop/Index/@item.Id" class="list-group-item list-group-item-action text-uppercase d-flex align-items-center">
                            <span class="category-icon">
                                <i class="bi bi-grid-fill"></i>
                            </span>
                            <span class="category-name ml-2">@item.Name</span>
                        </a>
                    }
                </div>
            </div>
        </div>


        <!-- Main Content -->
        <div class="col-md-10">
            <div class="row align-items-center mb-3">
                <div class="col-md-9 my-3 my-md-0">
                    <form id="formSearch" action="~/Shop/Index" method="get" class="input-group">
                        <input name="searchValue" type="text" class="form-control" placeholder="@_localization.Getkey("SearchProduct")">
                        <button class="btn btn-info" type="submit">
                            <i class="bi bi-search"></i>
                        </button>

                    </form>
                </div>
                <div class="col-md-3 text-right">
                    <a href="~/Shop/Create" class="btn btn-warning">
                        <i class="fa fa-plus"></i> @_localization.Getkey("NewProduct")
                    </a>
                </div>
            </div>

            <div class="row">
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var product in Model)
                    {
                        <div class="col-md-4 col-lg-3 product-column col-6">
                            <a href="~/Shop/Detail/@product.Id">
                                <div class="card product-item">
                                    <img class="card-img-top img-fluid " src="~/uploads/productImages/@product.Image" alt="#" style="height:180px ">
                                    <div class="card-body">
                                        <h5 class="card-title">@product.Name</h5>
                                        <div class="card-text text-limit">@product.Description</div>
                                        <div style="color:red; font-size: 18px;">@product.Price.Value.ToString("#,##0") đ</div>
                                    </div>
                                    <div class="card-footer text-limit">@product.User?.Province</div>
                                </div>
                            </a>
                        </div>
                    }
                    <div class="pagination-area mt-3">
                        <ul class="pagination justify-content-center">
                            <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" asp-controller="Shop" asp-route-searchValue="@ViewBag.SearchValue" asp-action="Index" />
                        </ul>
                    </div>
                }
                else
                {
                    <div class="col-md-12 text-center my-5">
                        <img alt="" src="~/images/noresult.png" style="width: 8.375rem;">
                        <div class="my-2">@_localization.Getkey("NoResults")</div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

