@using Microsoft.AspNetCore.Http
@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<AgriculturalForum.Web.Models.Product>
@{
    ViewBag.Title = _localization.Getkey("SellerInformation");
    var accountId = Context.Session.GetString("UserId");
    User user = ViewBag.User;
}
@section Styles {
    <style>

        .card-user {
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            border: none;
        }

        .card-primary {
            border-top: 2px solid #1e4356;
        }

        .text-limit {
            max-width: 260px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .product-item:hover {
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
            transform: translateY(-1px);
        }

        .team {
            padding-bottom: 0;
        }

            .team .member {
                margin-bottom: 0px;
            }

        .card-custom {
            border-radius: .125rem;
            background-color: #fff;
        }

            .card-custom:hover {
                transform: translateY(-1px);
                border-color: #86b7fe;
            }

        .card .card-body {
            padding: 16px 16px 8px;
        }

        .box {
            padding: 16px;
            border-radius: 4px;
            background: #fff;
            box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
            transition: all 0.3s ease-in-out;
            border: 1px solid #fff;
        }

        .member-img img {
            width: 100%;
            min-width: 100%;
            height: 180px;
            object-fit: cover;
            object-position: top;
        }

        .list-group-item {
            display: flex;
            align-items: center;
        }

            .list-group-item i {
                margin-right: 10px; 
                font-size: 14px;
            }
    </style>
}

<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>@ViewBag.Title</h2>
            <ol>
                <li><a href="~/Home">@_localization.Getkey("Home")</a></li>
                <li><a href="~/Shop">@_localization.Getkey("Shop")</a></li>
                <li>@ViewBag.Title</li>
            </ol>
        </div>
    </div>
</section>

<div class="container my-5">
    <div class="card card-user mb-5">
        <div class="card-header card-primary">
            <h4 class="m-0"> @user.FullName</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-fluid img-thumbnail" src="~/uploads/userImages/@user.ProfileImage" alt="Profile Image" style="width:120px; height:120px;">
                </div>
                <div class="col-md-9">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fa-solid fa-right-to-bracket"></i> @_localization.Getkey("Joined"): @user.MemberSince
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-phone"></i>@_localization.Getkey("Contact"):
                            <a href="tel: @user.Phone"> @user.Phone</a>
                        </li>
                        <li class="list-group-item">
                            <i class="fa-solid fa-location-dot"></i>
                            @_localization.Getkey("Address"): @user.Address, @user.Province
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Product List -->
    <div class="box">
        <div class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            @if (Model != null && Model.Count() > 0)
            {
                <h4 class="mb-3">@_localization.Getkey("IsSelling")</h4>
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 d-flex align-items-stretch mb-4">
                            <div class="card w-100 card-custom">
                                <div class="member">
                                    <div class="member-img ">
                                        <img src="~/uploads/productImages/@product.Image" alt="Product 1">
                                        @if (accountId != null && int.Parse(accountId) == product.UserId)
                                        {
                                            <div class="social">
                                                <a href="~/Shop/Edit/@product.Id"><i class="bx bx-edit"></i></a>
                                                <a href="~/Shop/Delete/@product.Id"><i class="bx bx-trash"></i></a>
                                            </div>
                                        }
                                    </div>
                                    <a href="~/Shop/Detail/@product.Id" style="text-decoration: none; color: inherit;">
                                        <div class="card-body member-info">
                                            <h5 class="card-title text-limit">@product.Name</h5>
                                            <p class="card-text text-limit"> @product.Description </p>
                                            <span>@product.Price.Value.ToString("#,##0") vnđ</span>

                                        </div>
                                    </a>

                                </div>
                            </div>


                        </div>
                    }
                    <div aria-label="Page navigation example" class="d-flex justify-content-center">
                        <ul class="pagination">
                            <pager class="pager-container" list="@Model" action="~/Search/ListProducts" />
                        </ul>
                    </div>

                </div>
            }
            else
            {
                <div class="d-flex align-items-center" style="height: 100px;">
                    <p class="text-muted">@_localization.Getkey("NoProduct"):</p>
                </div>
            }
        </div>
    </div>

</div>
