@using Microsoft.AspNetCore.Http
@{

}

<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <h1 class="text-light"><a href="index.html"><span>AglF</span></a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="~/">@_localization.Getkey("Home")</a></li>
                <li><a href="~/Forum">@_localization.Getkey("Forum")</a></li>
                <li><a href="~/Shop">@_localization.Getkey("Shop")</a></li>
                @*  <li><a href="~/Blog">Blog</a></li> *@
                <li class="dropdown">
                    <a href="#"><span>@_localization.Getkey("Languages")</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a asp-controller="Home"
                               asp-action="ChangeLanguage"
                               asp-route-culture="en-US"
                               class="dropdown-item">
                                English
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home"
                               asp-action="ChangeLanguage"
                               asp-route-culture="vi-VN"
                               class="dropdown-item">
                                Tiếng Việt
                            </a>
                        </li>

                    </ul>
                </li>
              

                @{
                    var accountID = Context.Session.GetString("UserId");
                    if (accountID != null)
                    {
                        <li class="dropdown">
                          
                            <a href="#"><span>@User?.Identity?.Name</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="~/User/Index/@int.Parse(accountID)">@_localization.Getkey("YourContent")</a></li>
                                <li><a href="~/Account/Detail">@_localization.Getkey("AccountInformation")</a></li>
                                <li><a href="~/Account/ChangePassword">@_localization.Getkey("ChangePassword")</a></li>
                                <li><a href="~/Account/Logout">@_localization.Getkey("Logout")</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a class="dropdown-item" href="~/Account/Register">@_localization.Getkey("Register")</a></li>
                        <li><a class="dropdown-item" href="~/Account/Login">@_localization.Getkey("Login")</a></li>
                    }
                }

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>








