@model AgriculturalForum.Web.Models.CategoryProduct
@{
    ViewBag.Title = "Xóa danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<section class="section">
    <div class="section-header">
        <h1>@ViewBag.Title</h1>
        <div class="section-header-breadcrumb">
            @*   <div class="breadcrumb-item active"><a href="#">Dashboard</a></div> *@
            <div class="breadcrumb-item"><a href="~/Admin/CategoryProduct">Danh mục sản phẩm</a></div>
            <div class="breadcrumb-item">@ViewBag.Title</div>
        </div>
    </div>

    <div class="section-body">
        <form action="~/Admin/CategoryProduct/Delete/@Model.Id" method="post">
            <div class="row">
                <div class="col-12">
                    <div class="card card-danger">
                        @*  <div class="card-header">
                        <h4>HTML5 Form Basic</h4>
                        </div> *@
                        <div class="card-body">
                            <div class="form-group">
                                <label>Tiêu đề</label>
                                <p class="form-control-static">@Model.Name</p>
                            </div>
                            <div class="form-group">
                                <label>Mô tả</label>
                                <p class="form-control-static">@Model.Description</p>
                            </div>

                            <div class="form-group">
                                <label>Trạng thái:</label>
                                <p class="form-control-static">@(Model.IsActive == true ? "Danh mục đang hoạt dộng" : "Danh mục không hoạt động")</p>
                            </div>

                        </div>
                        <div class="card-footer text-right">
                            @if (!ViewBag.IsUsed)
                            {
                                <button class="btn btn-danger mr-1" type="submit">Xác nhận xóa</button>
                            }
                           
                            <a href="~/Admin/CategoryProduct" class="btn btn-secondary" type="reset">Quay lại</a>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</section>

