@model AgriculturalForum.Web.ModelViews.ChangePasswordViewModel
@{
    ViewBag.Title = _localization.Getkey("ChangePassword");
}
@section Styles {
    <style>
        .menu-item.active {
            color: red !important;
        }

    </style>
}

<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>@ViewBag.Title</h2>
            <ol>
                <li><a href="~/Account/Detail">@_localization.Getkey("YourAccount")</a></li>
                <li>@ViewBag.Title</li>
            </ol>
        </div>
    </div>
</section>

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-4">

                @await Html.PartialAsync("_SidebarPartialView.cshtml")

            </div>

            <div class="col-lg-8 entries">

                <article class="entry">

                    <h2 class="entry-title">
                       @_localization.Getkey("ChangePassword")
                    </h2>

                    <div class="entry-content">
                        <form asp-controller="Account" asp-action="ChangePassword" method="post">
                            <div class="mb-3">
                                <label class="form-label fw-bold">@_localization.Getkey("CurrentPassword") </label>
                                <input asp-for="CurrentPassword" type="password" class="form-control">
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold">@_localization.Getkey("NewPassword") </label>
                                <input asp-for="NewPassword" type="password" class="form-control">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold">@_localization.Getkey("ConfirmPassword") </label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary" type="submit">@_localization.Getkey("Submit")</button>
                            </div>
                        </form>
                    </div>

                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->
        </div>
    </div>
</section>


@section Scripts {
    <script>
        $(document).ready(function () {
            var currentUrl = window.location.pathname;
            $('.sidebar-item.categories a[href="' + currentUrl + '"]').addClass('active');
        });
    </script>

}
