@model AgriculturalForum.Web.Models.User

@{
    ViewBag.Title = _localization.Getkey("AccountInformation");
    AgriculturalForum.Web.ModelViews.ChangePasswordViewModel changePassword = new AgriculturalForum.Web.ModelViews.ChangePasswordViewModel();
}
@section Styles {
    <style>
        .menu-item.active {
            color: red !important;
        }

    </style>
}
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2 id="tab-title">@ViewBag.Title</h2>
            <ol>
                <li><a href="~/Account/Detail">@_localization.Getkey("YourAccount")</a></li>
                <li id="current-tab-title">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
</section>

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-4">

                @await Html.PartialAsync("_SidebarPartialView.cshtml")

            </div>

            <div class="col-lg-8 entries">

                <article class="entry">
                    @if(string.IsNullOrEmpty(Model.Address) || string.IsNullOrEmpty(Model.Province))
                    {
                        <div class="align-items-center alert alert-danger" role="alert">
                            <span class="text-muted">@_localization.Getkey("AddressAlert")</span>
                        </div>
                    }

                    <h2 class="entry-title">
                        @_localization.Getkey("AccountInformation")
                    </h2>

                    <div class="entry-content" id="user-info">
                        <p>@_localization.Getkey("Hi"), <strong>@Model.FullName</strong></p>
                        <p><img class="img-fluid rounded" src="~/uploads/userImages/@Model.ProfileImage" style="height:100px; width:100px;" /></p>
                        <p>@_localization.Getkey("Email"): @Model.Email</p>
                        <p>@_localization.Getkey("Phone"): @Model.Phone</p>
                        <p>
                            @_localization.Getkey("DateOfBirth"): @Model.Birthday?.ToString("dd-MM-yyyy")
                        </p>
                        <p>@_localization.Getkey("Address"): @string.Join(", ", new[] { Model.Address, Model.Province }.Where(x => !string.IsNullOrEmpty(x)))</p>

                      
                        <div id="modal-placeholder"></div>
                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#updateInfo" data-url="@Url.Action("Update", "Account", new { id = Model.Id })">
                            @_localization.Getkey("Change")
                        </button>
                    </div>
                   
                    </article>
            </div><!-- End blog entries list -->
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(function () {
            var placeholderElement = $('#modal-placeholder');

            $('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    placeholderElement.html(data);
                    placeholderElement.find('.modal').modal('show');
                });
            });

            placeholderElement.on('click', '[data-save="modal"]', function (event) {
                event.preventDefault();

                var form = $(this).parents('.modal').find('form')[0]; 
                var formData = new FormData(form); 

                $.ajax({
                    url: form.action,
                    method: form.method,
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {
                        var newBody = $('.modal-body', data);
                        placeholderElement.find('.modal-body').replaceWith(newBody);

                        var isValid = newBody.find('[name="IsValid"]').val() == 'True';
                        if (isValid) {
                            placeholderElement.find('.modal').modal('hide');
                            window.notyf.success('@_localization.Getkey("UpdateInfomationSuccess")');
                            window.location.href = '@Url.Action("Detail", "Account")';
                        }
                    }
                });
            });
        });

    </script>
    
    <script>
        $(document).ready(function () {
            var currentUrl = window.location.pathname;
            $('.sidebar-item.categories a[href="' + currentUrl + '"]').addClass('active');
        });
    </script>
}


