@model AgriculturalForum.Web.ModelViews.LoginViewModel

@{
    
}

<section class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">@_localization.Getkey("Login")</h4>
                    <form method="post" action="~/Account/Login" >
                        <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                      @*   <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                        <div class="mb-3">
                            <label for="email" class="form-label fw-bold">@_localization.Getkey("Email")</label>
                            <input type="email" class="form-control" id="email" asp-for="UserName" placeholder="@_localization.Getkey("Email")">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label fw-bold">@_localization.Getkey("Password")</label>
                            <input type="password" class="form-control" id="password" asp-for="Password" placeholder="@_localization.Getkey("Password")">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-primary">@_localization.Getkey("Login")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

