@* @model List<Post> *@
@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<AgriculturalForum.Web.Models.Post>

@{

}

@section Styles {
    <style>
        .text-limit {
            line-height: 2rem;
            max-height: 4rem;
            overflow: hidden;
            flex: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-align: left;
        }

        .description-limit {
            max-width: 220px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .text-hover:hover {
            color: darkred !important;
        }
    </style>
}

<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>@_localization.Getkey("Search")</h2>
            <ol>
                <li><a href="~/Forum">@_localization.Getkey("Forum")</a></li>
                <li>@_localization.Getkey("Search")</li>
            </ol>
        </div>
    </div>
</section>


<div class="container m-5">
    <div class="row">
        @if(!string.IsNullOrWhiteSpace(ViewBag.SearchValue))
        {
            if (Model != null && Model.Count() > 0)
            {
                <div class="col-lg-12">

                    <div class="card shadow">
                        <div class="container">
                            <div class="row">
                                @foreach (var post in Model)
                                {
                                    <div class="col-md-12 mb-2 mt-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col-md-3">
                                                        <a href="/Post/Detail/@post.Id">
                                                            <img class="img-fluid rounded" src="~/uploads/postImages/@post.Image" alt="Image" style="height: 180px;">
                                                        </a>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <h5 class="card-title">
                                                            <a href="/Post/Detail/@post.Id" class="text-dark  text-hover">@post.Title</a>
                                                        </h5>
                                                        <hr />
                                                        <div class="d-flex align-items-center">
                                                            <a href="~/User/Index/@post.UserId">
                                                                <img class="img-fluid rounded-circle me-3" src="~/@post.User.ProfileImage" alt="avatar" style="height:40px; width:40px;" />
                                                            </a>
                                                            <ul class="list-unstyled mb-0 d-flex justify-content-between flex-grow-1">
                                                                <li class="align-self-start">
                                                                    <a href="/Post/Detail/@post.Id" class="text-secondary text-hover">
                                                                        <i class="bi bi-clock me-1"></i>
                                                                        @post.CreateDate
                                                                    </a>
                                                                </li>
                                                                <li class="align-self-end">
                                                                    <a href="/Post/Detail/@post.Id" class="text-secondary text-hover">
                                                                        <i class="bi bi-reply me-1"></i>
                                                                        @post.PostReplies.Count()
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="mt-3">
                                                            <p class="text-limit">@SubString.ExtractTextFromHtml(post.Content, 1000)</p>
                                                            <div class="text-end">
                                                                <a href="/Post/Detail/@post.Id" class="text-body text-hover">
                                                                    Xem chi tiết
                                                                    <i class="fa-solid fa-chevron-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div aria-label="Page navigation example">
                                <ul class="pagination">
                                    <pager class="pager-container" list="@Model" asp-route-searchValue="@ViewBag.SearchValue" action="~/PostSearch/Index" />
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>

            }
            else
            {
                <p>Không tìm thấy kết quả</p>
            }
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                Vui lòng nhập từ khóa cần tìm kiếm.
            </div>
        }

    </div>
</div>





