@using PagedList.Core.Mvc
@using Microsoft.AspNetCore.Http
@model PagedList.Core.IPagedList<AgriculturalForum.Web.Models.Product>
@{
    ViewBag.Title = _localization.Getkey("Search");
    var accountId = Context.Session.GetString("UserId");
}
@section Styles {
    <style>
        .text-limit {
            max-width: 190px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .card-footer {
            border-top: 1px solid #fff;
        }
    </style>
}

<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>@ViewBag.Title</h2>
            <ol>
                <li><a>@ViewBag.Title</a></li>
                <li>@_localization.Getkey("PostedProduct")</li>
            </ol>
        </div>
    </div>
</section>

<div class="container m-5">
    <!-- Product List -->
    <div id="product-list " class="mt-5 portfolio">
        <div class="row " data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3">
                    <a href="~/Shop/Detail/@item.Id">
                        <div class="card icon-box-cyan portfolio-item">
                            <img src="~/uploads/productImages/@item.Image" class="card-img-top" alt="Product 1" style="height:180px;">
                            <div class="card-body">
                                <h5 class="card-title text-white">@item.Name</h5>
                                <div class="card-text text-white text-limit">@item.Description</div>
                                <div style="color:yellow; font-size: 18px;">@item.Price.Value.ToString("#,##0") đ</div>
                                <div class="portfolio-info">
                                    @if (accountId != null && int.Parse(accountId) == item.UserId)
                                    {
                                        <div>
                                            <a href="~/Shop/Edit/@item.Id"><i class="bx bx-edit"></i></a>
                                            <a href="~/Shop/Delete/@item.Id"><i class="bx bx-trash"></i></a>
                                        </div>
                                    }
                                </div>

                            </div>
                            <div class="card-footer">
                                @if (item.IsSelling == true)
                                {
                                    <span class="card-text text-white-50">Đang bán</span>
                                }
                                else
                                {
                                    <span class="card-text text-white-50">Dừng bán</span>
                                }
                            </div>
                        </div>
                    </a>
                </div>
            }
            <div aria-label="Page navigation example" class="d-flex justify-content-center">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" action="~/Search/ListProducts" />
                </ul>
            </div>
        </div>
    </div>
</div>

